@page
@model CompanyProject.Pages.Companies.EditFacultyModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Faculty.Id" />
    <div class="form-group">
        <label asp-for="Faculty.Name"></label>
        <input asp-for="Faculty.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Faculty.University"></label>
        <input asp-for="Faculty.University" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>