@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="jumbotron">
	<h1 class="display-4">Welcome To Exam System</h1>
	<p class="lead">This is our Examination System which is availabe for Teaching staff and Students</p>
	<hr class="my-4">
		<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</p>
</div>

@*<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>*@

<img src="~/Landing.jpg" style="width:1100px ; height: 300px; margin:auto ; overflow:hidden" />
